In [125]:
import pandas as pd
import numpy as np

In [126]:
data=pd.read_csv("winemag-data-130k-v2.csv",index_col=0)
data.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

# Sorting Values

In [ ]:
data.sort_values("points").head(5)

In [ ]:
data.sort_values("price",ascending=False).head()

In [ ]:
data.sort_values(['points','price'],ascending=[True,False])

# Subsetting

In [ ]:
data['country']

In [ ]:
data[['country','province']]

In [ ]:
data['price']>=2000

In [ ]:
data[data['price']>=2000]

In [ ]:
data[data['country']=='India']

In [ ]:
data[(data['country']=='India') & (data['price']>=15)]

In [ ]:
x=data['country'].isin(['France','Spain'])
y=data['price']>=1700
data[x & y]

# Summary functions

In [ ]:
#data.points.describe()
data['price'].describe()

In [ ]:
data['country'].describe()

In [ ]:
data['points'].mean()

In [ ]:
data['country'].unique()

In [ ]:
data['country'].value_counts()

# Adding new dataframe column

In [ ]:
data['new_column']=data['price']/data['points']
data

# Summary statistics

In [ ]:
#Summary statistics
print(data['price'].max())
print(data['price'].mean())
print(data['price'].sum())
print(data['price'].std())
print(data['price'].quantile(.75))

In [ ]:
#summary statistics with .agg() function
def pct75(column):
    return column.quantile(0.75)
def pct95(column):
    return column.quantile(0.95)
data['price'].agg([pct75,pct95])

In [ ]:
datahead=data.head()
datahead

# Cumulative statistics

In [ ]:
#cumulative statistics
datahead['price'].cumsum()

In [ ]:
data['price'].cummax()

In [ ]:
datahead['price'].cummin()

In [ ]:
datahead['price'].cumprod()

# Droping duplicate values

In [ ]:
#droping duplicate values
data.drop_duplicates(subset='country')

In [ ]:
data.drop_duplicates(subset=['country','province'])

In [ ]:
data['country'].value_counts()

In [ ]:
data['country'].value_counts(normalize=True)

In [ ]:
# summary statistics
data[data['country']=='India']['price'].mean()

In [ ]:
data[data['country']=='Germany']['price'].max()

# Groupby method

In [ ]:
data.groupby('country')['price'].mean()

In [ ]:
data.groupby('country')['points'].sum()

In [127]:
data.groupby('points')['points'].count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [135]:
data[data.groupby('country')['points']==100]

KeyError: False

In [128]:
data.groupby('country')['price'].agg([max,min,np.mean,sum])

                           max   min       mean        sum
country
Argentina                230.0   4.0  24.510117    92060.0
Armenia                   15.0  14.0  14.500000       29.0
Australia                850.0   5.0  35.437663    81294.0
Austria                 1100.0   7.0  30.762772    86105.0
Bosnia and Herzegovina    13.0  12.0  12.500000       25.0
Brazil                    60.0  10.0  23.765957     1117.0
Bulgaria                 100.0   8.0  14.645390     2065.0
Canada                   120.0  12.0  35.712598     9071.0
Chile                    400.0   5.0  20.786458    91793.0
China                     18.0  18.0  18.000000       18.0
Croatia                   65.0  12.0  25.450704     1807.0
Cyprus                    21.0  11.0  16.272727      179.0
Czech Republic            45.0  15.0  24.250000      291.0
Egypt                      NaN   NaN        NaN        0.0
England                   95.0  25.0  51.681159     3566.0
France                  3300.0   5.0  41.139120   731289.0
Georgia                   40.0   9.0  19.321429     1623.0
Germany                  775.0   5.0  42.257547    89586.0
Greece                    79.0   8.0  22.364425    10310.0
Hungary                  764.0  10.0  40.648276     5894.0
India                     20.0  10.0  13.333333      120.0
Israel                   150.0   8.0  31.768916    15535.0
Italy                    900.0   5.0  39.663770   670873.0
Lebanon                   75.0  13.0  30.685714     1074.0
Luxembourg                30.0  16.0  23.333333      140.0
Macedonia                 20.0  15.0  15.583333      187.0
Mexico                   108.0   8.0  26.785714     1875.0
Moldova                   42.0   8.0  16.745763      988.0
Morocco                   40.0  14.0  19.500000      546.0
New Zealand              130.0   7.0  26.931785    37112.0
Peru                      68.0  10.0  18.062500      289.0
Portugal                1000.0   5.0  26.218256   127814.0
Romania                  320.0   4.0  15.241667     1829.0
Serbia                    42.0  15.0  24.500000      294.0
Slovakia                  16.0  16.0  16.000000       16.0
Slovenia                  90.0   7.0  24.812500     1985.0
South Africa             330.0   5.0  24.668987    31897.0
Spain                    770.0   4.0  28.215275   185459.0
Switzerland              160.0  21.0  85.285714      597.0
Turkey                   120.0  14.0  24.633333     2217.0
US                      2013.0   4.0  36.573464  1984659.0
Ukraine                   13.0   6.0   9.214286      129.0
Uruguay                  130.0  10.0  26.403670     2878.0

In [130]:
data.groupby(['country','province'])['points'].agg(max)

country    province
Argentina  Mendoza Province    97
           Other               95
Armenia    Armenia             88
Australia  Australia Other     93
           New South Wales     94
                               ..
Uruguay    Juanico             90
           Montevideo          91
           Progreso            90
           San Jose            87
           Uruguay             91
Name: points, Length: 425, dtype: int64

In [ ]:
data.groupby(['country','province'])['price'].agg([max,min,np.mean,sum,len])

In [129]:
data.groupby(['country','province'])['price','points'].agg([max,min,np.mean,sum])

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                            price                           points      \
                              max   min       mean      sum    max min
country   province
Argentina Mendoza Province  230.0   4.0  25.053317  80822.0     97  80
          Other             150.0   7.0  21.203774  11238.0     95  80
Armenia   Armenia            15.0  14.0  14.500000     29.0     88  87
Australia Australia Other   130.0   5.0  12.427966   2933.0     93  80
          New South Wales   125.0   8.0  25.623529   2178.0     94  82
...                           ...   ...        ...      ...    ...  ..
Uruguay   Juanico           130.0  10.0  48.583333    583.0     90  80
          Montevideo         60.0  17.0  26.090909    287.0     91  83
          Progreso           46.0  12.0  24.272727    267.0     90  82
          San Jose           50.0  20.0  30.000000     90.0     87  82
          Uruguay            50.0  12.0  22.083333    530.0     91  81


                                 mean     sum
country   province
Argentina Mendoza Province  86.826593  283402
          Other             86.001866   46097
Armenia   Armenia           87.500000     175
Australia Australia Other   85.518367   20952
          New South Wales   87.694118    7454
...                               ...     ...
Uruguay   Juanico           86.333333    1036
          Montevideo        88.272727     971
          Progreso          86.818182     955
          San Jose          84.000000     252
          Uruguay           86.833333    2084

[425 rows x 8 columns]

In [143]:
A=data.pivot_table(values='points',index='country',aggfunc=np.median) # by default mean function
B=A.reset_index()

                        points
country
Argentina                 87.0
Armenia                   87.5
Australia                 89.0
Austria                   90.0
Bosnia and Herzegovina    86.5
Brazil                    85.0
Bulgaria                  89.0
Canada                    90.0
Chile                     86.0
China                     89.0
Croatia                   88.0
Cyprus                    87.0
Czech Republic            88.0
Egypt                     84.0
England                   91.0
France                    89.0
Georgia                   88.0
Germany                   90.0
Greece                    87.0
Hungary                   89.0
India                     90.0
Israel                    89.0
Italy                     88.0
Lebanon                   88.0
Luxembourg                88.5
Macedonia                 87.0
Mexico                    85.0
Moldova                   88.0
Morocco                   88.5
New Zealand               88.0
Peru                      84.0
Portugal                  88.0
Romania                   86.0
Serbia                    87.5
Slovakia                  87.0
Slovenia                  88.0
South Africa              88.0
Spain                     87.0
Switzerland               89.0
Turkey                    88.0
US                        88.0
Ukraine                   84.0
Uruguay                   87.0

In [ ]:
data.pivot_table(values='price',index='country',columns='points',fill_value=0,margins=True)

In [ ]:
datahead

# SET INDEX METHOD

In [ ]:
Anonno=data.set_index("country")
Anonno

In [ ]:
data[data["country"].isin(['India',"France"])]

In [ ]:
Anonno.loc[["France","India"]]

In [ ]:
#Multi-level indexes
Arko=data.set_index(['country','province'])
Arko

In [ ]:
Arko.loc[['India','China']]

In [ ]:
Arko.loc[[("India","Nashik"),("China","China")]]

In [ ]:
A=Anonno.sort_index()
A

In [ ]:
A.loc["Italy":"US"] #Don't know what's wrong(Baby,short chara hbe na)
# slicing the inner index level (For this follow 2 rows earlyer method)

In [ ]:
A.loc[:,"points":"title"] #slicing columns

In [ ]:
data.iloc[1:4 ,:5]

# Sort index

In [ ]:
Anonno.sort_values(by ='points')

In [ ]:
C=data.groupby('country')['points'].max()
B=C.reset_index()
B.sort_values(by='points')

# Data Types and Missing Values

In [ ]:
data['price'].dtype

In [ ]:
data.dtypes

In [ ]:
data['points'].astype('float64')

In [ ]:
reviews=data[pd.isnull(data['country'])]  #for detecting the missing values
reviews.head()

In [ ]:
reviews.fillna("Unknown").head()

In [ ]:
reviews.country.fillna("Unknown").head()

In [ ]:
data.taster_twitter_handle.replace("@kerinokeefe", "@kerino")

# Renaming and Combining

In [ ]:
data.rename(columns={'points': 'score'})

In [ ]:
data.rename(index={0: 'firstEntry', 1: 'secondEntry'})